<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookchain: collaborative distributed text</title>
    <link rel="stylesheet" href="/static/css/bookchain.css">
    <script src="/static/js/util.js" type="text/javascript"></script>
    <script src="/static/js/bookchain.js" type="text/javascript"></script>
    <script type="text/javascript">

        var loaded = false;

        var bookchain = null;
        var latestBlockText = null;

        var loadingBar = null;
        var loadingText = null;
        var loadingTags = null;

        var loadedTags = null;

        var writeButton = null;
        var readButton = null;
        var aboutButton = null;

        var writeContainer = null;
        var readContainer = null;
        var aboutContainer = null;

        var messageParagraph = null;

        document.addEventListener("DOMContentLoaded", function(event) {
            loadingBar = document.getElementById('loading-bar');
            loadingText = document.getElementById('loading-text');
            loadingTags = document.getElementById('loading-tags');
            loadedTags = document.getElementById('loaded-tags');

            writeButton = document.getElementById('write-button');
            readButton = document.getElementById('read-button');
            aboutButton = document.getElementById('about-button');

            writeContainer = document.getElementById('write-container');
            readContainer = document.getElementById('read-container');
            aboutContainer = document.getElementById('about-container');

            messageParagraph = document.getElementById('message');

            bookchain = initialiseBookchain(
                queueRouterIp='{{ queue_router_host }}',
                queueRouterPort={{ queue_router_port }},
                newBlockCallback=updateLatestBlockText,
                loadingInfoCallback=updateLoadingInfo,
            );

            updateGreeting();
            showWriteContainer();
        });

        function updateLoadingInfo(loadedAmount, message) {
            loadingBar.style.width = (loadedAmount * 100) + '%';
            loadingText.textContent = message;

            if (loadedAmount === 1.0) {
                loaded = true;
                loadingTags.style.display = 'none';
                loadedTags.style.display = 'block';
            }
        }


        function updateLatestBlockText() {
            let latestBlock = bookchain.peekMostRecentBlock();

            textBox = document.getElementById('textbox');
            if (loaded && (document.activeElement !== textBox) && (textBox.value === '')) {
                latestBlockText = latestBlock.text;
                updateGreeting();
            }

            addBlockToDOM(latestBlock);

        }

        function submitBlock() {
            textBox = document.getElementById('textbox');
            proposedBlockText = textBox.value;

            if (proposedBlockText !== '') {
                data = {
                    'proposed_block_text': proposedBlockText,
                    'latest_block_text': latestBlockText
                };
                makeRequest(
                    'POST',
                    'http://{{ validation_service_host }}:{{ validation_service_port }}/validate',
                     data
                ).then(
                    function(response) {
                        if (response['valid']) {
                            sendNewBlock(bookchain, proposedBlockText);
                            displayMessage(response['message'], 'success-message');
                            textBox.value = '';
                        }
                        else {
                            displayMessage(response['message'], 'error-message');
                        }
                    }
                );
            }
            else {
                displayMessage('Please enter some text before submitting.', 'error-message');
            }
        }

        function addBlockToDOM(block) {
            let newBlockDiv = document.createElement('div');
            newBlockDiv.className = 'read-block';

            let textParagraph = document.createElement('p');
            textParagraph.textContent = block['text'];
            newBlockDiv.appendChild(textParagraph);

            let hashParagraph = document.createElement('p');
            hashParagraph.className = 'hash-paragraph';

            let hashTitle = document.createElement('span');
            hashTitle.className = 'block-info-heading';
            hashTitle.textContent = 'Hash: ';
            hashParagraph.appendChild(hashTitle);

            let hashText = document.createElement('span');
            if (block.hash === null) {
                hashText.textContent = 'null (genesis block)';
            }
            else {
                hashText.textContent = block.hash;
            }
            hashParagraph.appendChild(hashText);

            newBlockDiv.appendChild(hashParagraph);


            let timestampParagraph = document.createElement('p');
            timestampParagraph.className = 'timestamp-paragraph';

            let timestampTitle = document.createElement('span');
            timestampTitle.textContent = 'timestamp: ';
            timestampTitle.className = 'block-info-heading';
            timestampParagraph.appendChild(timestampTitle);

            let timestampText = document.createElement('span');
            if (block.timestamp === null) {
                timestampText.textContent = 'null (genesis block)';
            }
            else {
                timestampText.textContent = block.timestamp;
            }
            timestampParagraph.appendChild(timestampText);

            newBlockDiv.appendChild(timestampParagraph);


            readContainer.appendChild(newBlockDiv);
        }

        function updateGreeting() {
            makeRequest(
                'POST',
                'http://{{ validation_service_host }}:{{ validation_service_port }}/greeting',
                 {'latest_block_text': latestBlockText}
            ).then(
                function(response) {
                    greetingDiv = document.getElementById('greeting');
                    greetingDiv.innerHTML = response;
                }
            );
        }

        function displayMessage(message, messageClass) {
            messageParagraph.className = messageClass;
            messageParagraph.style.display = 'block';
            messageParagraph.textContent = message;

            setTimeout(function() {
                messageParagraph.style.display = 'none';
            }, 5000);

        }
        function showReadContainer() {
             writeContainer.style.display = 'none';
             writeButton.style.color = '#000832';
             readContainer.style.display = 'block';
             readButton.style.color = '#105070';
             aboutContainer.style.display = 'none';
             aboutButton.style.color = '#000832';
        }

        function showWriteContainer() {
             writeContainer.style.display = 'block';
             writeButton.style.color = '#105070';
             readContainer.style.display = 'none';
             readButton.style.color = '#000832';
             aboutContainer.style.display = 'none';
             aboutButton.style.color = '#000832';
        }

        function showAboutContainer() {
             writeContainer.style.display = 'none';
             writeButton.style.color = '#000832';
             readContainer.style.display = 'none';
             readButton.style.color = '#000832';
             aboutContainer.style.display = 'block';
             aboutButton.style.color = '#105070';
        }

    </script>
</head>
<body>
    <div id="loading-tags">
        <div id="loading-bar">Loading...</div>
        <div id="loading-text"></div>
    </div>
    <div id="loaded-tags" style="display: none;">
        <div id="top-nav">
            <div id="write-button" class="nav-link" onclick="showWriteContainer();">
                WRITE
            </div>
            <div id="read-button" class="nav-link" onclick="showReadContainer();">
                READ
            </div>
            <div id="about-button" class="nav-link" onclick="showAboutContainer();">
                ABOUT
            </div>
            <div class="clear-both"></div>
        </div>
        <div id="write-container" style="display:none;">
            <div id="greeting"></div>
            <textarea id="textbox"></textarea>
            <div id="submit" onclick="submitBlock();">SUBMIT</div>
            <div id="messages"><p id="message"></p></div>
        </div>

        <div id="read-container" class="clear-both" style="display:none;">
        </div>

        <div id="about-container" class="clear-both" style="display:none;">
            {{ about_text| safe }}
        </div>
    </div>
</body>
</html>