
 @import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

* {
    font-family: 'Source Sans Pro', sans-serif;
}
#top-nav {
    width: 50%;
    max-width: 800px;
    padding: 0 25%;
}
.nav-link {
    width: 50%;
    text-align: center;
    float: left;
}
.clear-both {
    clear: both;
    margin: 0 auto;
    width: 50%;
    max-width: 800px;
}
